pcapy==0.11.4
scapy==2.4.0
scapy-http==1.8.2
Twisted==18.9.0
bs4
netaddr
config
dnspython
isc_dhcp_leases
netifaces
NetfilterQueue
configobj
libarchive-c==2.1
python-magic==0.4.6
pefile
capstone
hyperframe
h2
service_identity
